// SECTION details :: START

section#b-details.b-details
  .c-grid
    .b-details__wrapper
      .b-details__wrapper-left

        p.b-details__title!= "Our Banking Detail"
        p.b-details__text!= "For International Wire Transfers and Local EFT’s Please use your IFX Customer number or MT4 account number for priority allocation to your IFX Wallet. Proof of payment can be directly uploaded from your client area or emailed to <a href='mailto:support@ifxbrokers.com'>support@ifxbrokers.com</a>"

      .b-details__wrapper-right

        ul.b-details__list
          li.b-details__list-item
            span!= "Bank Name"
            p!= "Firstrand Bank Ltd Head Office c/o First National Bank"
          li.b-details__list-item
            span!= "Bank Address"
            p!= "Bankcity, 2000 Johannesburg, South Africa"
          li.b-details__list-item
            span!= "Account Name"
            p!= "IFX Brokers Holdings (Pty) Ltd"
          li.b-details__list-item
            span!= "Account Number"
            p!= "62776923742"
          li.b-details__list-item
            span!= "Branch Number"
            p!= "250655"
          li.b-details__list-item
            span!= "SWIFT"
            p!= "FIRNZAJJ"
          li.b-details__list-item
            span!= "Reference"
            p!= "IFX CU Number or MT4 Account Number"


// SECTION details :: END