// SECTION funding :: START

section#b-funding.b-funding
  .c-grid
    .b-funding__wrapper

      p.b-funding__title!= "Funding your account"

      p.b-funding__desc!= "Flexible and instant Deposit and withdrawals is possible with myiFXBrokers. Our self-service secure client area allow you to instantly deposit funds directly to your IFX Wallet, ready to transfer to your trading account when needed."

      .b-funding__block-wrapper

        .b-funding__block
          p.b-funding__block-title!= "Wire transfer"
          p.b-funding__block-deposit!= "Deposit Amount (Zero fees)"
          p.b-funding__block-min!= "Min $250"
          p.b-funding__block-max!= ""
          p.b-funding__block-desc!= "Funds sent by International Wire Transfer will be credited to your trading account upon receipt of an official proof of payment."
          a.b-funding__block-btn(href="#" class="" title="")!= "Deposit"

        .b-funding__block
          p.b-funding__block-title!= "Local EFT"
          p.b-funding__block-deposit!= "Deposit Amount (Zero fees)"
          p.b-funding__block-min!= "Min $100 or ZAR1500"
          p.b-funding__block-max!= ""
          p.b-funding__block-desc!= "Instantly deposit"
          a.b-funding__block-btn(href="#" class="" title="")!= "Deposit"

        .b-funding__block
          p.b-funding__block-title!= "Credit cards"
          p.b-funding__block-deposit!= "Deposit Amount (Zero fees)"
          p.b-funding__block-min!= "Min $100 or ZAR1500"
          p.b-funding__block-max!= "Max $10000"
          p.b-funding__block-desc!= "Instantly deposit"
          a.b-funding__block-btn(href="#" class="" title="")!= "Deposit"

        .b-funding__block
          p.b-funding__block-title!= "PayFast, iPAY, PayU"
          p.b-funding__block-deposit!= "Deposit Amount (Zero fees)"
          p.b-funding__block-min!= "Min $100 or ZAR1500"
          p.b-funding__block-max!= "Max $10000"
          p.b-funding__block-desc!= "Instantly deposit"
          a.b-funding__block-btn(href="#" class="" title="")!= "Deposit"

      .b-funding__box
        .b-funding__box-left
          p.b-funding__box-title!= "Broker-to-Broker <br>Transfers"
          p.b-funding__box-desc!= "Participating brokers only"

        .b-funding__box-right

          .b-funding__box-top
            div
              p.b-funding__block-deposit!= "Deposit Amount (Zero fees)"
              p.b-funding__block-min!= "$1000 - Unlimited"

            div
              p.b-funding__box-info!= "Instantly deposit on receipt of funds from transferring broker"

          .b-funding__box-bottom
            a.b-funding__box-btn(href="#" class="" title="")!= "Request Broker to Broker Transfer"


// SECTION funding :: END