// SECTION security :: START

section#b-security.b-security
  .c-grid
    .b-security__wrapper

      p.b-security__title!= "Security of Funds"
      p.b-security__desc!= "Being a regulated broker means strict compliance and safety of funds procedures to ensure your trading account funds are held safe. You can rest easy when you trade with IFX Brokers. Security of client funds is taken very seriously."

      .b-security__block-wrapper

        a.b-security__block.b-security__block--half(href="#" class="" title="")
          .b-security__block-top
            img(src="./img/img-security-0.jpg" srcset="" alt="" title="")

          .b-security__block-bottom
            p.b-security__block-title!= "Fully Regulated"
            p.b-security__block-text!= "IFX Brokers Holdings (Pty) Ltd is an Issuer of CFDs and acts as counterparty to client transactions. Our distribution and market conduct is regulated by the Financial Sector Conduct Authority (Authorized Financial Services Provider number 48021). The issuance of CFD’s is regulated by The Financial Markets Act, 2012."

        a.b-security__block.b-security__block--half(href="#" class="" title="")
          .b-security__block-top
            img(src="./img/img-security-1.jpg" srcset="" alt="" title="")

          .b-security__block-bottom
            p.b-security__block-title!= "Segregated Accounts"
            p.b-security__block-text!= "All of the funds that you deposit are held in bank accounts separate from those of the company. They can only be used for trading collateral as intended."

        a.b-security__block.b-security__block--half(href="#" class="" title="")
          .b-security__block-top
            img(src="./img/img-security-2.jpg" srcset="" alt="" title="")

          .b-security__block-bottom
            p.b-security__block-title!= "Negative Balance Protection"
            p.b-security__block-text!= "Through the use of an automated transaction monitoring and risk management system, no client of IFX could have a negative balance."

        a.b-security__block.b-security__block--half(href="#" class="" title="")
          .b-security__block-top
            img(src="./img/img-security-3.jpg" srcset="" alt="" title="")

          .b-security__block-bottom
            p.b-security__block-title!= "Fidelity Insurance"
            p.b-security__block-text!= "We hold statutory required Professional Indemnity and Fidelity Insurance."

        a.b-security__block.b-security__block--full(href="#" class="" title="")
          .b-security__block-top
            img(src="./img/img-security-4.jpg" srcset="" alt="" title="")

          .b-security__block-bottom
            p.b-security__block-title!= "IFX Wallet"
            p.b-security__block-text.b-security__block-text--pb!= "Seen as your personal risk management tool, the IFX Wallet give you the flexibility to deposit and withdraw funds instantly. Your wallet works as a central account from which you can transfer funds to all your trading accounts with a few simple clicks."
            p.b-security__block-text!= "You may transfer back to your wallet any funds from your trading accounts that you wish to withdraw. In this way your funds kept in your wallet are completely protected from any market movements you may have on your trading accounts."



// SECTION security :: END